html, body {
  margin: 0;
  padding: 10px;
  background: #faf8ef;
  color: #ffffff;
  font-size: 36px; 
}

h1 {
  font-size: 50px;
  font-style: italic;
  color: black;
}

p { 
  color: black;
  font-size: 20px;
}

a {
  color: black;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: gray;
}

/************** 2048 styling **************/

.grid-container {
  position: absolute;
  z-index: 1; 
}

.grid-row {
  margin-bottom: 15px; 
}

.grid-row:last-child {
	margin-bottom: 0; 
}	

.grid-row:after {
	content: "";
display: block;
clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  text-align: center;
  background: rgba(238, 228, 218, 0.35); 
}

.grid-cell:last-child {
margin-right: 0; 
}

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

/************** Side navigation bar styling **************/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/************** Photography styling **************/

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}